body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #647174;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #2980b9;
}

#del {
    color: #db3434;
    margin-left: 10px;
    text-decoration: none;
}

h1{
   text-align: center;
}